= form_for(@gist) do |f|
  - if @gist.errors.any?
    #error_explanation
      - @gist.errors.full_messages.each do |msg|
        = msg
  .field.content
    = f.text_area :content
  .field.preview
    .preview-content.render-texmd
  .actions
    = submit_tag "Submit", :confirm => 'Note that you cannot make any change afterwards.'
