= form_for(@gist) do |f|
  .content
    .textwrapper
      = f.text_area :content, :cols => 1, :rows => 1
    .preview-wrapper
      .preview-content.render-texmd
    .actions
      = submit_tag "✓", :class => "submit"
