- if @isnil
  %center Does not exist.
- else
  .content-wrapper
    .show-content.render-texmd
      = raw(process(@gist.content))
  %p
    %center
      = link_to @current_url, short_gist_path(@gist)
