- if @isnil
  %center Does not exist.
- else
  .content-wrapper
    .show-content.render-texmd
      = raw(process(@gist.content))
  %p
    %center
      Current URL:
      %span#current-url
        = @current_url
      %span#clippy-current-url><
        = @current_url
