/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.title {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  font-weight: bold;
}

.title a {
    text-decoration: none;
    color: black;
}

.title a:hover {
    background: none;
    color: black;
}

.title a:visited {
    color: black;
}

.title-left {
    color: black;
}

.title-right {
    color: #0c0;
}

.subtitle {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-bottom: 20px;
}

.hint {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: gray;
}
